body {
  font-family: 'Courier New', Courier, monospace;
  font-size: 100%;
}

input {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1em;
  margin-top: 1em;
}

select {
  font-family: 'Courier New', Courier, monospace;
  font-size:1em;
}

p {
  margin-left: 1em;
  margin-right: 1em;
}

h1 {
  margin-left: .5em;
  margin-right: .5em;
}

h2 {
  margin-left: .75em;
  margin-right: .5em;
}

h3 {
  margin-left: 1em;
  margin-right: 1em;
}

ol {
  margin-left: 2em;
  margin-right: 2em;
}

fieldset {
  width: fit-content;
  display: inline-block;
  vertical-align: top;
  margin: 1em;
}

canvas {
  outline:4px solid #aaa;
  margin: 1em;
}

#glcanvas {
  width:640px; 
  height:480px;
}

#texturecanvas {
  width:512px; 
  height:512px; 
  image-rendering: pixelated;
}

.challenge {
  color:darkred;
}