body {
  font-family: 'Courier New', Courier, monospace;
  font-size: 100%;
}

input {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1em;
  margin-top: 1em;
}

select {
  font-family: 'Courier New', Courier, monospace;
  font-size:1em;
}

p {
  margin-left: 1em;
  margin-right: 1em;
}

h1 {
  margin-left: .5em;
  margin-right: .5em;
}

h2 {
  margin-left: .75em;
  margin-right: .5em;
}

h3 {
  margin-left: 1em;
  margin-right: 1em;
}

ol {
  margin-left: 2em;
  margin-right: 2em;
}

fieldset {
  width: fit-content;
  display: inline-block;
  vertical-align: top;
  margin: 1em;
}

.overlay {
  position:absolute;
  top:0px;
  left:0px;
  width:2px;
  background-color: rgb(129, 0, 108);
  z-index: 10;
}

#glcanvas_overlay {
  height: 480px;
}

#texturecanvas_overlay {
  height: 512px;
}

canvas {
  position:absolute;
  top:0px;
  left:0px;
  outline:4px solid #aaa;
}

#glCanvasHolder {
  display: inline-block;
  position:relative;
  width:640px; 
  height:480px;
  margin: 1em;
}

#textureCanvasHolder {
  display: inline-block;
  position:relative;
  width:512px; 
  height:512px;
}

#glcanvas {
  width:640px; 
  height:480px;
  z-index: 1;
}

#texturecanvas {
  width:512px; 
  height:512px; 
  image-rendering: pixelated;
  z-index: 1;
}

.challenge {
  color:darkred;
}